/* ===============
   		GENERAL
   =============== */

:root {
	--red: #8f0302;
	--brighter_red: rgb(210, 60, 69);
	--grey: #b2b2b2;
	--lightgrey: #f7f7f7;
}

html, body{
	margin: 0;
	padding: 0;
}

header {
	text-align: center;
}

#cudap-logo {
	padding-top: 20px;
}

#cudap-logo img {
	width: 250px;
}

section {
	background-color: var(--lightgrey);
}

.hiddenError {
	display: none;
}

.break {
  margin: 20px;
}

.content {
	padding: 15px;
}


/* ===============
   			NAV
   =============== */

nav {
	 text-align: center;
}

a.top-nav, .dropdown {
	display: inline-block;
	font-size: 18px;
	padding: 10px 14px;
	margin: 0 5px;
}

a.top-nav, .dropbtn {
	color: black;
	text-decoration: none;
}

a.top-nav:hover, .dropbtn:hover {
	color: var(--brighter_red);
}

.dropdown-pages {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-pages a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-pages a:hover {
   background-color: white;
}

.dropdown:hover .dropdown-pages {
   display: block;
}

a.current-page {
	color: var(--red);
}



/* ===============
   		FOOTER
   =============== */

#logo img {
	height: 50px;
}

footer {
	text-align: center;
}

/* ===============
   		INDEX
   =============== */
