/* ===============
   		CONTENTS

			GENERAL
			NAV
			INDEX
			LOGIN
			ADMIN
			MEET THE BOARD
			EVENTS
			CONTACT
			LEARN
			GALLERY
			RESOURCES
			FOOTER
   =============== */


/* ===============
   		GENERAL
   =============== */

* {
	box-sizing: border-box;
}

:root {
	--red: #8f0302;
	--brighter_red: #ba0101;
	--grey: #b2b2b2;
	--lightgrey: #f7f7f7;
	--darkergrey: rgb(92, 91, 96);
	--darkestgrey: rgb(53, 52, 59);
}

@font-face {
	font-family: "Oxygen";
	src: url("../fonts/Oxygen/Oxygen-Regular.ttf");
}

@font-face {
	font-family: "Capture-It";
	src: url("../fonts/Capture-It/Capture-It.ttf");
}

html, body, textarea {
	margin: 0;
	padding: 0;
	font-family: 'Oxygen', sans-serif;
}

header {
	text-align: center;
}

button {
	background: white;
	border: 1px solid silver;
	font-size: 16px;
	margin-top: 15px;
	color: var(--darkergrey);
}

button:hover {
	background-color: var(--red);
	color: white;
}

#cudap-logo {
	padding-top: 20px;
}

#cudap-logo img {
	width: 400px;
}

.break {
  margin: 20px;
}

.content {
	padding: 40px 80px;
	background-color: var(--lightgrey);
	width: 80%;
	margin: 20px auto;
	border-radius: 10px;
}

/* Centers content on a page that does not scroll */
.centered {
	position: fixed;
  top: 40%;
  left: 50%;
	margin-top: -70px;
  margin-left: -100px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Capture-It', sans-serif;
	font-size: 70px;
	margin: 15px;
	letter-spacing: 5px;
}

button:focus {
	outline: 0;
}

.message {
  color: var(--red);
  /* border: 1px solid orange; */
  /* padding: 5px;
  border-radius: 5px; */
}

.link {
	color: var(--red);
	text-decoration: none;
	font-weight: bold;
}

.center-text {
	text-align: center;
}

.enlarge {
	font-size: 25px;
}

/* ===============
   			NAV
   =============== */

nav {
	 text-align: center;
}

a.top-nav, .dropdown {
	display: inline-block;
	font-size: 16px;
	padding: 10px 14px;
	margin: 0 5px;
}

a.top-nav, .dropbtn {
	color: black;
	text-decoration: none;
}

a.top-nav:hover, .dropbtn:hover, .dropdown-pages a:hover {
	color: var(--brighter_red);
}

.dropdown-pages {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-pages a {
	color: black;
	padding: 12px 16px;
	font-size: 16;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-pages a:hover {
   background-color: white;
}

.dropdown:hover .dropdown-pages {
   display: block;
}

a.current-page {
	color: var(--red);
	font-weight: bold;
}

/* ===============
   		LOGIN
   =============== */

#login-form input {
	border: none;
	border-bottom: 2px solid silver;
	display: block;
	margin: 20px 0;
	color: black;
	width: 250px;
	height: 30px;
	background-color: white;
	font-size: 15px;
}

#login-form input:focus, #login-form-button:focus {
  outline: none;
}

#login-form-button {
	width: 250px;
	height: 40px;
	margin: 20px 0;
	border-radius: 3px;
	font-size: 14px;
}

/* ===============
   		ADMIN
   =============== */

.content2 {
	padding: 40px 80px;
	background-color: var(--lightgrey);
	margin: 20px auto;
}

.content2 h1 {
	color: var(--red);
	/* color: black; */
	/* background-color: white; */
	/* padding: 15px 0; */
}

.content2 a:hover {
	color: var(--brighter_red);
}

.white-background {
	background-color: white;
	margin: 50px auto;
	padding: 30px 60px;
	width: 75%;
}

#admin-wrapper {
	display: flex;
	flex-direction: row;
	padding: 30px 0;
}

#admin-sidebar {
	flex: 1;
	order: 1;
	margin: 0;
	margin-left: 20px;
	padding: 0;
	text-align: left;
	/* background-color: red; */
}

#admin-sidebar h2 {
	text-align: left;
	margin-top: 0;
	font-size: 18px;
	border: 1px solid silver;
	margin-bottom: 0;
	padding: 10px 10px;
	width: 85%;
	color: var(--darkergrey);
	background-color: var(--lightgrey);
}

#admin-sidebar a {
	display: block;
	border: 1px solid silver;
	width: 85%;
	padding: 8px 10px;
	border-top: none;
	text-decoration: none;
	color: var(--darkergrey);
}

#admin-sidebar a:last-child {
	border-bottom: 1px solid silver;
	background-color: red;
}

#admin-sidebar a.admin-current-page {
	border-left: 3px solid var(--red);
}

#admin-sidebar a:hover {
	/* border-left: 3px solid var(--red); */
	background-color: var(--lightgrey);
}

#admin-content {
	flex: 3;
	order: 2;
	margin-right: 20px;
}

#admin-content h3 {
	margin: 0;
	padding: 10px 0;
	border-bottom: 1px solid silver;
}

#admin-content form label, #admin-content form input, #admin-content form textarea, #admin-content form select {
	display: block;
}

#admin-content input, #admin-content textarea {
	width: 80%;
	border: 0.5px solid silver;
	font-size: 14px;
	padding: 5px;
}

#admin-content form label {
	color: var(--darkestgrey);
	font-weight: bold;
	margin: 18px 0 5px 0;
}

#admin-content input {
	height: 35px;
}

#admin-content input.no-border {
	border: none;
}

#admin-content select {
	height: 30px;
	margin-top: 12px;
	border: 0.5px solid silver;
}

#admin-content button {
	margin-top: 20px;
	margin-bottom: 35px;
	padding: 10px 12px;
}

#logout-form-button {
	margin: 20px 50px 0 0px;
	padding: 0;
	width: 85%;
	height: 43px;
	padding: 10px;
}

.indentcontent {
    margin-left: -5px;
		width: 60%;
}

.border {
	border: 1px solid silver;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 15px;
	margin: 5px;
}

/* ===============
   		INDEX
   =============== */

#index {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: var(--lightgrey);
}

#index img {
	width: 100%;
	opacity: 0.3;
}

#welcome {
	background-color: white;
	padding: 60px 60px 40px 60px;
	display: flex;
	flex-direction: row;
	margin-top: -1px;
}

#welcome h1 {
	color: var(--red);
}

#welcome-flex-left {
	flex: 1.5;
	order: 1;
	padding: 0 50px 50px 0px;
	line-height: 1.5;
	text-align: center;
}

#welcome-flex-right {
	flex: 1;
	order: 2;
	text-align: center;
}

#welcome-flex-right img {
	opacity: 1;
}

#welcome-flex-left p {
	margin-bottom: 50px;
}

#welcome a {
	padding: 12px 16px;
	text-decoration: none;
	border: 1px solid var(--grey);
	color: var(--darkergrey);
	font-weight: lighter;
}

#welcome a:hover {
	/* switch for lighter color */
	background-color: var(--red);
	color: white;
}

#feed {
	display: flex;
	flex-direction: row;
}

#feed h2 {
	color: var(--red);
	padding: 0;
	margin: 0;
}

#feed-flex-left {
	flex: 2.5;
	order: 1;
}

#feed-flex-right {
	flex: 1;
	order: 2;
}

.post, #feed-tags, #feed-listserv, #facebook-like {
	background-color: white;
	padding: 30px;
}

#search-criteria {
	background-color: white;
	padding: 4px 30px;
	margin: 40px 60px;
	position: relative;
}

#search-criteria p {
	display: inline-block;
}

/* #search-criteria a {
	color: white;
	text-decoration: none;
	margin: 0 0 0 50px;
	padding: 0;
	font-size: 25px;
	border: 3px solid var(--grey);
	border-radius: 100px;
	background-color: var(--grey);
	font-weight: bold;
	text-align: center;
}

#search-criteria a:hover {
	background-color: var(--darkergrey);
	border: 3px solid var(--darkergrey);
} */

#search-criteria a {
	float: right;
	margin-right: 20px;
}

#search-criteria img {
	width: 26px;
	height: 26px;
	opacity: 0.5;
	position: absolute;
	top: 18px;

}

#search-criteria img:hover {
	opacity: 1;
}

#tag-name {
	border: 1px solid silver;
	/* border-right: none; */
	margin-left: 10px;
	padding: 4px 6px;
	display: inline-block;
	color: var(--darkergrey);
}

.post {
	margin: 40px 60px;
}

#feed-tags, #feed-listserv, #facebook-like {
	margin: 40px 60px 40px 10px;
}

#feed-tags ul, #tags-in-post {
	margin: 15px 0 0 0;
	padding: 0;
	list-style-type: none;
}

#feed-tags ul li, #tags-in-post li {
	display: inline-block;
	margin: 0 5px 8px 0;
	padding: 4px 6px;
	border: 1px solid silver;
}

#tags-in-post li {
	color: var(--darkergrey);
}

#feed-tags ul li a {
	text-decoration: none;
	color: var(--darkergrey);
}

#feed-tags ul li:hover {
	/* switch for lighter color */
	background-color: var(--darkergrey);
}

#feed-tags ul li a:hover {
	color: white;
}

#feed-listserv form {
	margin-top: 15px;
}

#feed-listserv input, #feedlistserv button {
	display: block;
}

#feed-listserv input {
	border: none;
	height: 30px;
	width: 180px;
	font-size: 16px;
	border-bottom: 1px solid silver;
}

#feed-listserv input:focus {
	outline: 0;
}

#feed-listserv button {
	padding: 8px 7px;
	font-size: 16px;
	margin-top: 15px;
	/* font-weight: bold; */
}

/* date header http://themes.typepad.com/guide/2011/12/date-header-ribbon.html */
h6.date-ribbon {
	position: relative;
	width: 40%;
	font-size: 16px;
	font-weight: bold;
	padding: 7px 20px 7px 25px;
	margin: 0 10px 25px -40px;
	color: white;
	background-color: var(--red);
	box-shadow: 0px 2px 4px #888;
	}

h6:before, h6:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	}

h6.date-ribbon:after {
	left: 0px;
	top: 100%;
	border-width: 5px 5px;
	border-style: solid;
	border-color: #666 #666 transparent transparent;
	}


/* ===============
	 MEET THE BOARD
   =============== */

#content-eboard {
	padding: 40px 0;
	background-color: white;
	margin: 20px auto;
	width: 75%;
}

.eboardFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
	margin: 0 auto 100px auto;
	background-color: white;
	width: 100%;
}

/* .eboardFlex > div {
	width: 31%;
  text-align: center;
  margin: 15px 1% 10px 1%
} */

.eboardFlex img {
	width: 90%;
	/*height: 320px;*/
}

.eboard-left {
	flex: 1;
	order: 1;
	width: 50%;
}

.eboard-right {
	flex: 1;
	order: 2;
	width: 50%;
}

.eboardFlex hr {
	width: 20%;
}

.eboardFlex h2 {
	text-align: center;
	letter-spacing: 5px;
	font-size: 200%;
	margin-top: 0;
}

.eboardFlex h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}

.eboardFlex p {
  width: 80%;
	text-align: left;
	margin: 0 auto 10px auto;
}

.boardtext {
	padding: 5%;
}

.memberimage {
  text-align: center;
  border-width: 2px;
  border-style: dashed;
  border-color: black;
  position: relative;
	padding: 20px 0;
}

.memberimage img {
  max-width: 100%;
  height: auto;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.memberimage p{
	max-width: 100%;
	position: relative;
	margin: 10px;
}

/* ===============
   		EVENTS
   =============== */

table {
	margin: 0 auto;
}

table th {
	padding-bottom: 10px;
  border: 1px solid black;
}

table td {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
  border: 1px solid black;
}

/* ===============
   		CONTACT
   =============== */

.no-padding {
	padding: 30px 0;
}

.flex-div {
	text-align: center;
	padding: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
}

.flex-left {
	flex: 1;
	order: 1;
	padding: 10px;
	border-right: 1px solid var(--grey);
}

.flex-right {
	padding: 10px;
	flex: 1;
	order: 2;
	border-left: 1px solid var(--grey);
}

.indent {
    text-indent: 50px;
}

textarea {
	font-size: 12px;
	width: 70%;
}

#contactCentering p, #contactCentering h2 {
	text-align: center;
}

.contactpage {
	text-align: center;
	margin-bottom: 45px;
}

.highlight {
	color: #8f0302;
	font-weight: bold;
	text-decoration: none;
}

.highlight a {
	color: var(--red);
}

.largeContainer {
	margin: 0 auto;
	margin-bottom: 10px;
}

.labelContainer {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.inputContainer {
	display: block;
}

.errorContainer {
	color: red;
	font-size: 14px;
	display: block;
}

.hiddenError {
	display: none;
}

#formButton {
	margin: 0;
	padding: 0;
}

#formButton button {
	/*margin-top: 0;*/
	margin: 30px auto;
	border: 2px solid silver;
	width: 250px;
	text-decoration: none;
	font-size: 16px;
	border-radius: 1px;
	padding: 10px;
	font-weight: normal;
}

/* #formButton button:active {
	background-color: var(--grey);
} */

#messageButton button {
	margin: 30px auto;
	border: 2px solid silver;
	width: 250px;
	text-decoration: none;
	margin: 0 auto;
	padding: 10px;
	font-size: 16px;
}

/* #messageButton button:active {
	background-color: var(--grey);
} */


/* ===============
   		LEARN
   =============== */

.column {
  flex: calc(100%/3);
  padding: 0;
}

.column img {
  width: 100%;
  margin: 0;
  vertical-align: middle;
}

#learn-div {
  position: relative;
  float:right;
  height: auto ;
  top: 0px;
  bottom: 0px;
	margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

#main-div {
  position: relative;
  float:right;
  height: auto ;
  top: 0px;
  bottom: 0px;
	margin-bottom: 20px;
	margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

#signs-container img {
	width: 33%;
	margin: 0 auto;
}

.single-view img {
	width: 50%;
	margin: 0 25%;
}

.single-view form {
  margin: 50px 0;
}

.single-view button[type="submit"] {
  width: 200px;
}

/* ===============
   		GALLERY
   =============== */

/* adapted from https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp */

.row {
 display: flex;
 flex-wrap: wrap;
 padding: 0 4px;
 margin-top: 40px;
}

.column-gal {
 flex: 25%;
 max-width: 25%;
 padding: 0 4px;
}

.column-gal img {
 width: 100%;
 display: block;
 margin-top: 8px;
 object-fit: cover;
}

@media screen and (max-width: 1000px) {
	.column-gal {
		flex: 33%;
		max-width: 33%;
	}
}

@media screen and (max-width: 800px) {
 .column-gal {
   flex: 50%;
   max-width: 50%;
 }
}

@media screen and (max-width: 600px) {
 .column-gal {
   flex: 100%;
   max-width: 100%;
 }
}

.container {
	position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #fff;
}

.overlay:hover {
  opacity: 0.7;
}

.overlay .title {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* Lightbox */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
	max-width: 50%;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.lightbox-image {
  display: none;
}

.lightbox-image img {
	height: 80%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

/* ===============
   		RESOURCES
   =============== */

.center {
	padding-left: 20%;
	padding-right: 20%;
}

.resource-div {
	text-align: left;
	display: flex;
	flex-direction: row;
}

.resource-div a {
	color: var(--red);
}

.resource-div a:hover {
	color: var(--brighter_red);
}

.resource-padding {
	padding: 0 2.5%;
}

/* ===============
   		FOOTER
   =============== */

footer {
	text-align: center;
	padding: 20px;
	display: flex;
	flex-direction: row;
}

footer p {
	font-size: 14px;
	padding: 0;
	margin: 0;
}

#footer-left {
	flex: 1;
	order: 1;
}

#footer-center {
	flex: 2;
	order: 2;
}

#footer-right {
	flex: 1;
	order: 3;
	text-align: right;
	padding-right: 20px;
}

#footer-right img {
	width: 35px;
	opacity: 0.5;
}

#footer-right img:hover {
	opacity: 1;
}

#icon-margin {
	margin-right: 5px;
}
