/* ===============
   		GENERAL
   =============== */

:root {
	--red: #8f0302;
	--brighter_red: rgb(210, 60, 69);
	--grey: #b2b2b2;
	--lightgrey: #f7f7f7;
	--darkergrey: rgb(92, 91, 96);
}

html, body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

header {
	text-align: center;
}

#cudap-logo {
	padding-top: 20px;
}

#cudap-logo img {
	width: 400px;
}

.hiddenError {
	display: none;
}

.break {
  margin: 20px;
}

.content {
	padding: 40px 80px;
	background-color: var(--lightgrey);
	width: 50%;
	margin: 20px auto;
	border-radius: 10px;
}

/* Centers content on a page that does not scroll */
.centered {
	position: fixed;
  top: 40%;
  left: 50%;
	margin-top: -70px;
  margin-left: -100px;
	text-align: center;
}

h1 {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}

/* ===============
   			NAV
   =============== */

nav {
	 text-align: center;
}

a.top-nav, .dropdown {
	display: inline-block;
	font-size: 16px;
	padding: 10px 14px;
	margin: 0 5px;
}

a.top-nav, .dropbtn {
	color: black;
	text-decoration: none;
}

a.top-nav:hover, .dropbtn:hover, .dropdown-pages a:hover {
	color: var(--brighter_red);
}

.dropdown-pages {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-pages a {
	color: black;
	padding: 12px 16px;
	font-size: 16;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-pages a:hover {
   background-color: white;
}

.dropdown:hover .dropdown-pages {
   display: block;
}

a.current-page {
	color: var(--red);
}

/* ===============
   		LOGIN
   =============== */

#login-form input {
	border: none;
	border-bottom: 2px solid silver;
	display: block;
	margin: 20px 0;
	color: black;
	width: 250px;
	height: 30px;
	background-color: white;
	font-size: 15px;
}

#login-form input:focus, #login-form-button:focus {
  outline: none;
}

#login-form-button {
	width: 250px;
	height: 40px;
	margin: 20px 0;
	border-radius: 3px;
	font-size: 14px;
}

/* ===============
   		ADMIN
   =============== */





/* ===============
   		INDEX
   =============== */

#index {
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: var(--lightgrey);
}

#index img {
	width: 100%;
	opacity: 0.3;
}

#welcome {
	background-color: white;
	padding: 60px;
	display: flex;
	flex-direction: row;
	margin-top: -1px;
}

#welcome h1 {
	color: var(--red);
}

#welcome-flex-left {
	flex: 1.5;
	order: 1;
	padding: 0 50px 50px 0px;
	line-height: 1.5;
	text-align: center;
}

#welcome-flex-right {
	flex: 1;
	order: 2;
	text-align: center;
}

#welcome-flex-right img {
	opacity: 1;
}

#welcome-flex-left p {
	margin-bottom: 50px;
}

#welcome a {
	padding: 12px 16px;
	text-decoration: none;
	border: 1px solid var(--grey);
	color: var(--darkergrey);
	font-weight: lighter;
}

#welcome a:hover {
	color: var(--red);
}

#feed {
	display: flex;
	flex-direction: row;
}

#feed h2 {
	color: var(--red);
}

#feed-flex-left {
	flex: 2.5;
	order: 1;
}

#feed-flex-right {
	flex: 1;
	order: 2;
}

.post, #feed-tags, #feed-listserv {
	background-color: white;
	margin: 40px 60px;
	padding: 40px;
}

/* ===============
	 MEET THE BOARD
   =============== */

#eboardFlex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	text-align: center;
}

#eboardFlex > div {
	width: 47%;
  text-align: center;
  margin: 15px 1% 10px 1%
}

#eboardFlex img {
	width: 70%;
	/*height: 320px;*/
}

#eboardFlex hr {
	width: 20%
}

#eboardFlex h3 {
	margin-top: 10px;
	margin-bottom: 5px;
}

#eboardFlex p {
  width: 80%;
	text-align: left;
	margin: 0 auto;
	padding-left: 10%;
}

.memberimage {
  text-align: center;
  border-width: 2px;
  border-style: dashed;
  border-color: black;
  position: relative;
	padding: 20px 0;
}

.memberimage img {
  max-width: 100%;
  height: auto;
  position: relative;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.memberimage p{
	max-width: 100%;
	position: relative;
	margin: 10px;
}

/* ===============
   		EVENTS
   =============== */

table {
	margin: 0 auto;
}

table th {
	padding-bottom: 10px;
  border: 1px solid black;
}

table td {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 10px;
  border: 1px solid black;
}

/* ===============
   		CONTACT
   =============== */

.indent {
    text-indent: 50px;
}

#contactCentering p, #contactCentering h2 {
	text-align: center;
}

.contactpage {
	text-align: center;
	margin-bottom: 45px;
}

.highlight {
	color: #8f0302;
	font-weight: bold;
	text-decoration: none;
}

.highlight a {
	color: var(--red);
}

.largeContainer {
	margin: 0 auto;
	margin-bottom: 10px;
}

.labelContainer {
	display: block;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.inputContainer {
	display: block;
}

.errorContainer {
	color: red;
	font-size: 14px;
}

#formButton {
	margin: 0;
	padding: 0;
}

#formButton button {
	/*margin-top: 0;*/
	margin: 30px auto;
	border: 2px solid var(--red);
	background-color: var(--lightgrey);
	width: 250px;
	text-decoration: none;
	font-size: 16px;
	color: var(--red);
	border-radius: 1px;
	padding: 10px;
	font-weight: normal;
}

#formButton button:hover {
	background-color: var(--grey);
}

#formButton button:active {
	background-color: var(--grey);
}

#formButton button:focus {
	outline: 0;
}

#messageButton button {
	margin: 30px auto;
	border: 2px solid var(--red);
	color: var(--red);
	background-color: var(--lightgrey);
	width: 250px;
	text-decoration: none;
	margin: 0 auto;
	padding: 10px;
	font-size: 16px;
}

#messageButton button:hover {
	background-color: var(--grey);
}

#messageButton button:active {
	background-color: var(--grey);
}

#messageButton button:focus {
	outline: 0;
}

/* ===============
   		LEARN
   =============== */
.column {
  flex: calc(100%/3);
  padding: 0;
}

.column img {
  width: 100%;
  margin-top: 0;
  vertical-align: middle;
}

#main-div {
  position: relative;
  float:right;
  height: auto ;
  top: 0px;
  bottom: 0px;
	margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

.single-view img {
  width: 60%;
	padding: 0 20%;
}

.single-view form {
  margin: 50px 0;
}

.single-view button[type="submit"] {
  width: 200px;
}

/* ===============
   		FOOTER
   =============== */

#logo img {
	height: 50px;
}

footer {
	text-align: center;
	padding: 20px;
}
