/* For smaller desktop screens and potentially tablets (iPads)*/
@media only screen and (max-width: 1000px) {

	.content {
		padding: 20px 30px;
		background-color: var(--lightgrey);
		margin: 20px auto;
	}

	.white-background {
		width: 90%;
		margin: 10px auto;
		padding: 30px 60px;
	}

	h1 {
		font-size: 50px
	}

	/* Nav */
	a.top-nav, .dropdown {
		display: inline-block;
		font-size: 16px;
		padding: 8px 6px;
		margin: 0 5px;
	}

	/* Index */
	#welcome {
		padding: 0;
		flex-direction: column;
	}

	#welcome-flex-left, #welcome-flex-right {
		flex: 0;
	}

	#welcome-flex-left {
		padding: 20px 20px 40px 20px;
		margin-bottom: 10px;
	}

	#welcome-flex-right {
		display: none;
	}

	#welcome h1 {
		/* font-size: 30px; */
	}

	#feed {
		flex-direction: column;
	}

	#feed-flex-right {
		order: 1;
		display: flex;
	}

	#feed-flex-left {
		order: 2;
	}



}

@media screen and (max-width: 1000px) {
	.column-gal {
		flex: 33%;
		max-width: 33%;
	}
}

@media screen and (max-width: 800px) {
 .column-gal {
   flex: 50%;
   max-width: 50%;
 }
}

@media screen and (max-width: 600px) {
 .column-gal {
   flex: 100%;
   max-width: 100%;
 }
}
