# Ignore all files, except .gitignore files.
*
!.gitignore


# Example: uploads sub-folder "eboard" for table "eboard"

# Tell Git to NOT ignore your upload folders that correspond with your DB tables,
# Then tell Git to ignore all files in those folders
!/eboard/
/eboard/*
!/signs/
/signs/*

# Tell Git to NOT ignore your EACH seed file in your your upload folders.
!/eboard/1.jpg
!/eboard/2.jpg
!/eboard/3.jpg
!/eboard/4.jpg
!/eboard/5.jpg
!/eboard/6.jpg
!/eboard/7.jpg
!/eboard/8.jpg
!/signs/a.jpg
!/signs/b.jpg
!/signs/c.jpg
!/signs/d.jpg
!/signs/e.jpg
!/signs/f.jpg
!/signs/g.jpg
!/signs/h.jpg
!/signs/i.jpg
!/signs/j.jpg
!/signs/k.jpg
!/signs/l.jpg

!/resourcesppt/
/resourcesppt/*

!/resourcesppt/animal.pptx
!/resourcesppt/education.pptx
!/resourcesppt/emotions.pptx
!/resourcesppt/health.pptx
