# Ignore all files, except .gitignore files.
*
!.gitignore


# Example: uploads sub-folder "eboard" for table "eboard"

# Tell Git to NOT ignore your upload folders that correspond with your DB tables,
# Then tell Git to ignore all files in those folders
!/eboard/
/eboard/*
!/signs/
/signs/*

# Tell Git to NOT ignore your EACH seed file in your your upload folders.
!/eboard/1.jpg
!/eboard/2.jpg
!/eboard/3.jpg
!/eboard/4.jpg
!/eboard/5.jpg
!/eboard/6.jpg
!/eboard/7.jpg
!/eboard/8.jpg
!/signs/a.jpg
!/signs/b.jpg
!/signs/c.jpg
!/signs/d.jpg
!/signs/e.jpg
!/signs/f.jpg
!/signs/g.jpg
!/signs/h.jpg
!/signs/i.jpg
!/signs/j.jpg
!/signs/k.jpg
!/signs/l.jpg

#below temporary; will change later
!/images/
/images/*
!/images/1.jpg
!/images/2.jpg
!/images/3.jpg
!/images/4.jpg
!/images/5.jpg
!/images/6.jpg
!/images/7.jpg
!/images/8.jpg
!/images/9.jpg
!/images/10.jpg
!/images/11.jpg
!/images/12.jpg
!/images/13.jpg
!/images/14.jpg
!/images/15.jpg
!/images/16.jpg
!/images/17.jpg
!/images/18.jpg
!/images/19.jpg
!/images/20.jpg

!/resourcesppt/
/resourcesppt/*

!/resourcesppt/animal.pptx
!/resourcesppt/education.pptx
!/resourcesppt/emotions.pptx
!/resourcesppt/health.pptx
!/resourcesppt/occupations.pptx
!/resourcesppt/majors.pptx
!/resourcesppt/december.pptx

!/feed
/feed/*
